body{
    margin: 0;
    height: 0;
}
.nav-bar{
    display: flex;
    background-color: #333;
    overflow: hidden;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1000;   
}
.nav-logo{
   padding: 10px;  
}
.nav-logo h3{
    color: white;
}
.nav-links a{
    padding: 5px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;

}
.nav-links a:hover {
     color: orangered;
}
.image {
    height: 100vh;
    background: url("simon-berger-twukN12EN7c-unsplash.jpg") center/cover ; 
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 10px;
}
.aboutme {
    height: 350px;
    width: 210px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
}
.aboutme p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
    padding: 10px;
   
}
.skills {
    height: 350px;
    width: 210px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
}
.projects {
    height: 350px;
    width: 210px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
}
.contactme {
    height: 350px;
    width: 300px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
}

.image h1{
    padding: 10px;
}
.block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 130px;
}
.list {
  
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}
.plist {
    
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}
.contactme p {
   
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    font-weight: bold;

   
}
.aboutme h1 {
    color: blueviolet;
}
.contactme h1 {
    color: blueviolet;
}
.skills h1 {
    color: blueviolet;
}
.projects h1 {
    color: blueviolet;
}